rsi_3_4/RSI_3_4_part_b/WcfServiceClient/Service References/ServiceReference2/CallbackContract.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CallbackContract" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CallbackContract" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="RandomSpecification">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="IntNumbersArray" nillable="true" type="q1:ArrayOfint" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RandomSpecification" nillable="true" type="tns:RandomSpecification" />
  <xs:complexType name="RandomResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="Result" type="xs:int" />
      <xs:element minOccurs="0" name="Time" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RandomResult" nillable="true" type="tns:RandomResult" />
</xs:schema>