rsi_3_4/RSI_3_4_part_b/WcfServiceClient/Service References/ServiceReference2/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CallbackContract" />
  <xs:element name="DateDiff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="date" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AsyncRandom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CallbackContract" minOccurs="0" name="specification" nillable="true" type="q1:RandomSpecification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnRandom">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CallbackContract" minOccurs="0" name="result" nillable="true" type="q2:RandomResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReturnDateDiff">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="days" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>