rsi_3_4/RSI_3_4_part_b/WcfServiceClient/Service References/ServiceReference1/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10001/ComplexCalculator/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfServiceContractWithDataContract" />
  <xs:element name="AddComplex">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfServiceContractWithDataContract" minOccurs="0" name="first" nillable="true" type="q1:ComplexNumber" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfServiceContractWithDataContract" minOccurs="0" name="second" nillable="true" type="q2:ComplexNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComplexResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfServiceContractWithDataContract" minOccurs="0" name="AddComplexResult" nillable="true" type="q3:ComplexNumber" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Random">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfServiceContractWithDataContract" minOccurs="0" name="specification" nillable="true" type="q4:RandomSpecification" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RandomResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfServiceContractWithDataContract" minOccurs="0" name="RandomResult" nillable="true" type="q5:RandomResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>